@{
    Layout = "_Layout";
}
@using Salon.Models;
@model Salon.Models.Client;
 <div class="card">
    <div class="card-body">
        <h1 class="card-title text-center">Update Client: @Model.Name</h1>
    </div>     
</div>
<div class="card">
    <div class ="card-body">
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(model => model.ClientId)
            @Html.LabelFor(model => model.Name)
            @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
            <br>
            @Html.Label("Select Stylist")
            @Html.DropDownList("StylistId")
            <br>
            <input type="submit" value="Save" class="btn button btn-info";>
        }
    </div>
</div>
